h1{
    background-color: crimson;
}
#first{
    background-color: darkmagenta;
}
.most{
    background-color: darkgreen;
}
.san{
    background-color: darkseagreen;
}
.dhiya{
    background-color: indianred;

}